@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  font-family: 'Open Sans', sans-serif; }

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto; }

.section {
  padding: 30px 0; }
  .section #section-advantages,
  .section #section-welcome {
    padding: 60px 0; }

.row {
  display: -webkit-box;
  display: flex; }
  .row.two-col .column {
    flex-basis: 50%; }

.text-primary {
  font-family: 'Montserrat', sans-serif; }

.text-uppercase {
  text-transform: uppercase; }

.text-shadow {
  text-shadow: 1px 1px 2px black; }

.text-note {
  color: #979797;
  font-style: italic; }

h1.title {
  font-size: 72px; }

h3.title {
  font-size: 24px; }

h2.title {
  text-align: center;
  font-size: 36px;
  font-weight: 700; }

.bold {
  font-weight: 700; }

.promo {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 10px 15px;
  background: #fff;
  -webkit-box-pack: center;
          justify-content: center;
  width: 50%;
  align-self: center;
  margin: 0 auto;
  margin-top: 30px; }
  .promo p {
    color: #222;
    font-size: 18px;
    margin-right: 15px;
    font-weight: 500; }
  .promo svg {
    height: 50px;
    width: 50px; }

.nav-toggle {
  height: 40px;
  width: 60px;
  display: none;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse; }
  .nav-toggle .line {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #fff;
    -webkit-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out; }
  .nav-toggle.active {
    -webkit-box-pack: center;
            justify-content: center; }
    .nav-toggle.active .line:nth-child(2) {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      margin-top: -3px; }
    .nav-toggle.active .line:nth-child(1) {
      opacity: 0;
      -webkit-transform: rotate(60deg);
              transform: rotate(60deg); }
    .nav-toggle.active .line:nth-child(3) {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.eapps-instagram-feed-title {
  display: none !important; }

.eapps-instagram-feed-container {
  padding: 30px 0; }

.main-nav {
  position: fixed;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
  padding: 15px 0;
  z-index: 999; }

.nav-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  justify-self: center; }
  .nav-list__item {
    margin: 0 15px; }
  .nav-list__logo {
    margin: 0 30px; }
    .nav-list__logo img {
      width: 150px; }
  .nav-list__item a {
    font-weight: 600;
    font-size: 18px;
    color: #fff; }

#section-welcome {
  height: 100vh;
  background: url(../../img/section1.webp) center center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 60px 0;
  min-height: 600px; }
  #section-welcome .container {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
            justify-content: center; }
  #section-welcome h1.title {
    font-family: 'Open Sans', sans-serif; }
  #section-welcome h3.title {
    text-align: center; }

#section-advantages {
  background-color: #EBB241;
  padding: 60px 0; }
  #section-advantages .column {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
    #section-advantages .column:nth-child(1) {
      -webkit-box-align: center;
              align-items: center; }
  #section-advantages .column + .column {
    margin-left: 60px; }
  #section-advantages .section__img + .section__img {
    margin-top: 30px; }
  #section-advantages .advantages-list .advantages-list__item + .advantages-list__item {
    margin-top: 30px; }

.advantage {
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: start;
          justify-content: flex-start;
  width: 100%; }
  .advantage__title {
    font-size: 24px;
    font-weight: 500;
    margin-left: 15px; }
  .advantage__img {
    height: 70px;
    width: 70px; }
    .advantage__img svg {
      fill: #fff;
      height: 70px;
      width: 70px; }
  .advantage__desc {
    width: 100%;
    margin-top: 15px; }
    .advantage__desc p {
      font-size: 18px;
      line-height: 24px; }

#section-product .text-note {
  text-align: center;
  margin-top: 15px;
  font-size: 16px; }

.product {
  margin: 15px;
  margin-bottom: 30px;
  width: 280px;
  height: 350px;
  position: relative;
  border: 1px solid rgba(34, 34, 34, 0.2); }
  .product-block {
    padding: 15px 0; }
  .product-list {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center; }
  .product__img {
    width: 100%;
    height: 100%;
    background-size: cover; }
  .product__info {
    position: absolute;
    bottom: -20px;
    color: #222;
    background-color: rgba(255, 255, 255, 0.8);
    width: calc(100% - 20px);
    left: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    padding: 10px 0;
    border: 1px solid #222; }
  .product__title {
    font-size: 24px;
    border-bottom: 1px solid #222;
    padding-bottom: 4px;
    pointer-events: none; }
  .product__price {
    font-size: 20px;
    margin-top: 10px;
    pointer-events: none; }

#section-info {
  background-color: #EBB241;
  color: #fff; }
  #section-info .advantages-list {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    margin-top: 30px; }
    #section-info .advantages-list__item {
      flex-basis: 25%;
      width: unset;
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: 10px;
      margin: 0 10px; }
    #section-info .advantages-list .advantage {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      text-align: center;
      padding-top: 15px; }
      #section-info .advantages-list .advantage__title {
        height: 50px;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
                align-items: center;
        -webkit-box-pack: center;
                justify-content: center;
        height: 70px;
        margin-top: 15px;
        width: 100%;
        margin-left: 0;
        font-weight: 700;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
      #section-info .advantages-list .advantage__desc {
        margin-top: 0;
        padding-bottom: 5px; }
        #section-info .advantages-list .advantage__desc p {
          margin-bottom: 10px; }
          #section-info .advantages-list .advantage__desc p:first-child {
            border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
        #section-info .advantages-list .advantage__desc a {
          color: #fff;
          font-size: 16px; }

#section-contact {
  background-color: #EBB241;
  color: #fff; }
  #section-contact .column {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center; }
    #section-contact .column:nth-child(1) {
      padding: 0 30px; }
  #section-contact iframe {
    width: 100%; }
  #section-contact .row {
    margin-top: 30px; }

.contact-list {
  width: 100%;
  padding: 15px 0;
  margin-top: 15px; }
  .contact-list__item + .contact-list__item {
    margin-top: 25px; }
  .contact-list__item svg {
    height: 50px;
    width: 50px; }
  .contact-list__item p,
  .contact-list__item a {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    color: #fff;
    font-size: 16px;
    line-height: 20px; }
    .contact-list__item p span,
    .contact-list__item a span {
      display: block;
      margin-left: 15px; }

#form-contact {
  background-color: #fff;
  padding: 30px;
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  border: 1px solid rgba(34, 34, 34, 0.2); }
  #form-contact .form-title {
    margin-bottom: 30px; }
  #form-contact h3 {
    text-align: center;
    font-size: 24px;
    margin: 5px 0;
    color: #222; }
  #form-contact .input-wrapper {
    width: 100%; }
    #form-contact .input-wrapper input,
    #form-contact .input-wrapper textarea {
      height: 40px;
      width: 100%;
      border: 1px solid rgba(34, 34, 34, 0.2);
      resize: none;
      margin: 10px 0;
      padding: 10px 15px;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif; }
    #form-contact .input-wrapper textarea {
      height: 120px; }
  #form-contact .submit {
    padding: 10px 30px;
    background-color: #EBB241;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    color: #fff;
    font-weight: 600; }

@media screen and (min-width: 768px) {
  .main-nav {
    border-bottom: 2px solid;
    border-bottom-color: transparent;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out; }
    .main-nav .nav-list__logo img {
      -webkit-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out; }
    .main-nav.active {
      padding: 5px 0;
      background-color: rgba(235, 178, 65, 0.6);
      width: 100%;
      top: 0;
      border-bottom-color: rgba(34, 34, 34, 0.2); }
      .main-nav.active .nav-list__logo img {
        width: 80px; } }

@media screen and (max-width: 1180px) {
  .container {
    padding: 0 15px; }
  #section-info .advantages-list {
    flex-wrap: wrap; }
    #section-info .advantages-list__item {
      flex-basis: 47%;
      margin-bottom: 30px; }
  #section-info .promo {
    width: 80%; } }

@media screen and (max-width: 768px) {
  .row.two-col .column {
    flex-basis: 100%; }
  #section-advantages .row {
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse; }
  #section-advantages .column + .column {
    margin-left: 0;
    margin-bottom: 60px; }
  #section-advantages .advantage {
    -webkit-box-pack: center;
            justify-content: center;
    text-align: center; }
    #section-advantages .advantage__desc {
      max-width: 80%; }
  #section-contact .row {
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse; }
  #section-contact .column + .column {
    margin-bottom: 30px; }
  #section-contact .column {
    -webkit-box-pack: start;
            justify-content: flex-start;
    padding: 0 30px; }
  #section-contact #form-contact {
    width: 100%; }
  .main-nav {
    border-bottom: 2px solid rgba(34, 34, 34, 0.2);
    background-color: #EBB241; }
  .nav-list {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    position: absolute;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    top: 72px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    background-color: #EBB241;
    width: 100%;
    opacity: 0;
    padding: 30px 0;
    border-bottom: 2px solid rgba(34, 34, 34, 0.2); }
    .nav-list.active {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    .nav-list__item {
      margin: 15px 0; }
      .nav-list__item a {
        font-size: 24px; }
    .nav-list__logo img {
      width: 100px; }
  .nav-toggle {
    display: -webkit-box;
    display: flex; } }

@media screen and (max-width: 600px) {
  #section-info .advantages-list {
    flex-wrap: wrap; }
    #section-info .advantages-list__item {
      flex-basis: 95%;
      margin-bottom: 30px; }
  #section-info .promo {
    width: 100%; }
  #section-contact .column {
    padding: 0 15px; }
  #section-contact .column:nth-child(1) {
    padding: 0 15px; } }

@media screen and (max-width: 425px) {
  .container {
    padding: 0 5px; }
  #section-advantages .advantage {
    text-align: left; }
    #section-advantages .advantage__desc {
      max-width: 100%;
      padding: 0 30px; }
  .section__img img {
    width: 100%; }
  h1.title {
    font-size: 48px; }
  .mt-30 {
    margin-top: 15px; } }

@media screen and (max-width: 375px) {
  #section-contact .column {
    padding: 0 5px; }
  #section-contact .column:nth-child(1) {
    padding: 0 5px; } }
